body {
  background-color: #cbcbf2;
  color: black;
}

#header-navbar {
  background-color: #5453A6;
  overflow: hidden;
}

#navbar-container {
  float: left;
  width: 100%;
  position: relative;
  font-size: 20px;
}

#header-navbar ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  position: relative;
  left: 50%;
  float: left;
}

#header-navbar ul li {
  float: left;
  position: relative;
  right: 50%;
  display: block;
}
#header-navbar ul li a {
  display: block;
  padding: 19px 20px;
  color: #fff;
  text-decoration: none;
}

#header-navbar ul li a:hover {
  background-color: #bebef7;
}

#headers {
  font-size: 25px;
  font-family: oswald;
}

#name {
  font-size: 50px;
}

* {
  box-sizing: border-box;
}

.column {
  float: left;
  padding: 10px;
  height: 350px;
}

.left{
  width: 22%;
}

.right {
  width: 30%;
}

.middle {
  width: 48%;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

#contactinfo {
  font-size: 18px;
  font-family: oswald;
}

#educationcerts {
  font-size: 18px;
}

#internshipsawards {
  font-size: 18px;
}

img1 {
  width:300px;
  height: 345px;
}

.column2 {
  float: left;
  width: 33%;
  padding: 0 15px;
}

.row2 {
  margin: 0 -5px;
}

.row2:after {
  content: "";
  display: table;
  clear: both;
}

@media screen and (max-width: 600px) {
  .column2 {
    width: 100%;
    display: block;
    margin-bottom: 20px;
  }
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  padding: 16px;
  background-color: #edebeb;
}

.title{
  text-align: center;
}

hr {
  border: 2px solid #5453A6;
}