/*CSS for all pages*/

/*navigation bar for all three pages*/
#header-navbar {
  background-color: #059694;
  overflow: hidden;
  font-family: oswald;
}

#navbar-container {
  float: left;
  width: 100%;
  position: relative;
  font-size: 20px;
}

#header-navbar ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  position: relative;
  left: 50%;
  float: left;
}

#header-navbar ul li {
  float: left;
  position: relative;
  right: 50%;
  display: block;
}
#header-navbar ul li a {
  display: block;
  padding: 19px 20px;
  color: #fff;
  text-decoration: none;
}

#header-navbar ul li a:hover {
  background-color: #78cccb;
}

/*CSS for page 1*/

#wrapper {
  width:960px;
  margin: 0 auto;
}

.index-background {
  background-color: #a1d1d0;
  margin: 10px;
}

#header {
  font-size: 25px;
  font-family: oswald;
}

#name {
  font-size: 35px;
}

* {
  box-sizing: border-box;
}

.column {
  float: left;
  height: 19em;
  width: 27%;
  padding:20px;
  margin-left: 10px;
}

.left{
  width: 25%;
}

.right {
  width: 20%;
}

.middle {
  width: 45%;
}

.row1 {
  margin: 0 -5px;
}

.row1:after {
  content: "";
  display: table;
  clear: both;
}

#contactinfo {
  font-size: 18px;
  font-family: oswald;
}

#educationcerts {
  font-size: 18px;
  font-family: oswald;
}

#internshipsawards {
  font-size: 18px;
  font-family: oswald;
}

.img1 {
  width:17em;
  height: 19em;
  object-fit: initial;
}

.column2 {
  float: left;
  width: 33%;
  padding: 0 15px;
}

.row2 {
  margin: 0 -5px;
}

.row2:after {
  content: "";
  display: table;
  clear: both;
}

@media screen and (max-width: 600px) {
  .column2 {
    width: 100%;
    display: block;
    margin-bottom: 20px;
  }
}

@media screen and (max-width: 800px) {
  .column {
    width: 100%; 
    display: block;
    margin-bottom: 20px;
  }
  .img1{object-fit: fill;}
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  padding: 16px;
  background-color: #edebeb;
}

.title{
  text-align: center;
}

hr {
  border: 2px solid #059694;
}
.clear{
  clear: both;
}
/*end of css page 1*/

/*CSS for page 2*/
.vacation-background {
  background-color: #e3b884;
  margin: 10px;
}

* {
  box-sizing: border-box;
}

.column3 {
  float: left;
  width: 33.2%;
  padding: 0 20px;
}

.row3 {margin: 0 -5px;}

.row3:after {
  content: "";
  display: table;
  clear: both;
}

@media screen and (max-width: 600px) {
  .column3 {
    width: 100%;
    display: block;
    margin-bottom: 10px;
    background-color:#dedfe0;
  }
}

@media screen and (max-width: 800px) {
  body {
    width: 100%;
    margin-bottom: 10px;
    background-color: #b1cdfa;
  }
}
.card3 {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  padding: 16px;
  text-align: center;
  background-color: #f1f1f1;
}

#name3 {
  font-size: 40px;
  padding:20px;
  font-family: georgia;
  text-align: center;
}

.img3 {
  width: 300px;
  height: 350px;
  object-fit: fill;
}

.city {
  font-size: 25px;
}

a:hover {
  opacity: 0.3;
}

/*end of css page 2*/

/*CSS for page 3*/

.cookbook-background {
  background-color: #bcd4e3;
  margin: 10px;
}

* {
  box-sizing: border-box;
}

.columnn {
  float: left;
  height: 800px;
}

.leftt{
  width: 40%;
  background-color:#b8c6cf;
}

.middlee {
  width: 60%;
  background-color:#b8c6cf;
}

.roww:after {
  content: "";
  display: table;
  clear: both;
}

.img4 {
  width: 600px;
  height:800px;
}

#name4 {
  font-size: 50px;
  text-align:center;
  font-family: 'Phudu', cursive;
}
/*end of css page 3*/

/*page 4 css*/

#wrapper {
  width: 950px;
  height: 700px;
  background-color: #17b0ae;
  margin: 0 auto;
  overflow: hidden;
}

#canvas {
  width: 800px;
  height: 600px;
  background-color: #fddc9d;
  margin: 30px auto;
}

.map-background {
  background-color: #cad9d9;
  margin: 10px;
}

/*end of page 4*/

/*page 5 css*/

.imageSlides {
  display: none
}
 
img {
  margin: auto;
  display: block;
  width: 100%;
}
 
/* Our main images-slideshow container */
.images-slideshow {
  max-width: 612px;
  position: relative;
  margin: auto;
}
 
/*Style for ">" next and "<" previous buttons */
.slider-btn{
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 8px 16px;
  margin-top: -22px;
  color: rgb(0, 0, 0);
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 50%;
}
 
/* setting the position of the previous button towards left */
.previous {
  left: 2%;
}
 /* setting the position of the next button towards right */
.next {
  right: 2%;
}
 
/* On hover, adding a background color */
.previous:hover,
.next:hover {
  color: rgb(255, 253, 253);
  background-color: rgba(0, 0, 0, 0.8);
}
