body {
  background-color:#d8e5ed;
}

#header-navbar {
  background-color: #059694;
  overflow: hidden;
  font-family: oswald;
}

#navbar-container {
  float: left;
  width: 100%;
  position: relative;
  font-size: 20px;
}

#header-navbar ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  position: relative;
  left: 50%;
  float: left;
}

#header-navbar ul li {
  float: left;
  position: relative;
  right: 50%;
  display: block;
}
#header-navbar ul li a {
  display: block;
  padding: 19px 20px;
  color: #fff;
  text-decoration: none;
}

#header-navbar ul li a:hover {
  background-color: #78cccb;
}

* {
  box-sizing: border-box;
}

.column {
  float: left;
  width: 33.2%;
  padding: 0 20px;
}

.row {margin: 0 -5px;}

.row:after {
  content: "";
  display: table;
  clear: both;
}

@media screen and (max-width: 600px) {
  .column {
    width: 100%;
    display: block;
    margin-bottom: 10px;
  }
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  padding: 16px;
  text-align: center;
  background-color: #f1f1f1;
}

#name {
  font-size: 40px;
  padding:20px;
  font-family: georgia;
  text-align: center;
}

.img {
  padding: 12px;
  width: 300px;
  height:350px;
}

.city {
  font-size: 25px;
}